@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');


body{
    margin: 0;
    background: #5c5c5c;
}

.arrow{
    display: none;
}
.head
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: rgb(245,186,237);
    background: -moz-linear-gradient(90deg, rgba(245,186,237,1) 0%, rgba(209,155,218,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(245,186,237,1) 0%, rgba(209,155,218,1) 100%);
    background: linear-gradient(90deg, rgba(245,186,237,1) 0%, rgba(209,155,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5baed",endColorstr="#d19bda",GradientType=1);
}

    .headContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }    
    
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto ;
            width: 100%;
        }

            .sign{
            margin-top: 30px;  
            font-family: 'Dancing Script';
            }

            .link{
                margin-top: 30px;
            }

                #link-icon{
                    height: 30px;
                    width: auto;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                }

                #link-icon:hover{
                    transform: scale(1.2);
                    transform: rotate(25deg);
                    -webkit-transform: scale(1.2);
                    -moz-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    -o-transform: scale(1.2);
}

    .intro
    {
        margin: 35px 0px;
        width: 220px;
        font-size: 22px;
        color: aliceblue;
        font-family: 'Dancing Script';
    }

    .head .headContainer .contactButton{
            border: 2px solid #e9e3ff;
            border-radius: 30px;
            padding: 10px 30px;
            font-size: 24px;
            text-decoration: none;
            font-style: italic;
            color: #e9e3ff;
            transition: all 0.4s;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
            -o-transition: all 0.4s;
    }

    .links
    {
        display: flex;
        flex-direction: row;
    }

        .link
        {
            padding: 0px 25px;
            color: rgb(255, 255, 255);
        }

    .sign
    {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: 190px;
    }

.about
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin: 0px;
    position: relative;
}

    .about-title
    {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-style: italic;
        font-size: 24px;
        text-align: center;
        text-decoration: underline;
    }

    .about-text
    {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-style: italic;
        line-height: 25px;
        font-size: 15px;
        margin: 0px 15px;
    }

    .degree-title
    {
        margin-top: -30px;
        font-family: 'Crimson Text';
        text-align: center;
        text-decoration: underline;
    }

    .skillsPrograms{
        display: flex;
        flex-direction: column;
    }

    .skills{
        display: flex;
        flex-direction: column;
    }

         .list{
            align-self: flex-start;
            list-style-image: url(./imagenes/arrow.svg);
            padding-left: 45px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .list li{
            margin-bottom: 10px;
        }


.mains{
    margin-bottom: 5px;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    transition: 0.9s;
    color: rgb(95, 95, 95);
    /* border-radius: 15px 15px 10px 10px; */
    border: 1px solid #45454545;
    box-shadow: 10px 8px 10px 10px #333;
    /* margin: 5px; */
}

    .line{
        width: 100%;
        height: 1px;
        background: rgba(141, 141, 141, 0.322);
        border: none;
    }

        .title{
            font-family: 'Crimson Text';
            margin-top: 20px;
            text-decoration: underline;
        }

        .individual-card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .project-title{
            font-size: 24px;
            font-style: italic;
            font-family: 'Space Mono', monospace;
            margin-top: 10px;
        }

        .text{
            text-align: center;
            font-family: 'Abel';
            font-size: 18px;
            margin-left: 25px;
            margin-right: 25px;
        }

        .img{
            margin-bottom: 20px;
            height: 10rem;
        }

    #contact-form
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: #fff;
        /* margin: 5px; */
        width: auto;
        /* border-radius: 10px; */
    }

        .polaroid
        {
            margin-top: 15px;
            margin-bottom: 20px;
            padding-bottom: 1px;
            border: 1px solid #5c5c5cb4;
            border-radius: 3px;
            background: #fff;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
}
            .profile
            {
                margin: 15px;
                padding: 70px;
                border-radius: 2px;
                background-image: url(./imagenes/profile.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .polaroid-text
            {
                text-align: center;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-style: italic;
            }

.lineV
{
    display: none;
}

.lineH
{
        width: 100%;
        height: 1px;
        background: rgba(141, 141, 141, 0.322);
        border: none;
}

        .form
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 20px;
            
        }

            .form-input
            {
                color: #000;
                font-family: 'Abel';
                width: 80%;
                height: 45px;
                margin-bottom: 40px;
                background: none;
                border: none;
                border-bottom: 1px ridge;
                border-radius: 3px;
                transition: .5s;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
}

                .form-input:focus
                {
                    width: 100%;
                }                

            .form-message
            {
                color: #000;
                font-family: 'Abel';
                width: 80%;
                padding-bottom: 50px;
                background: none;
                border: none;
                border-bottom: 1px ridge;
                border-radius: 3px;
                margin-bottom: 15px;
                transition: all 0.5s;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;
}

                .form-message:focus
                {
                    width: 100%;
                }

            .form-button
            {
                color: #000;
                font-family: 'Abel';
                text-align: center;
                width: 50%;
                height: 60px;
                margin: 15px;
                border-radius: 15px;
                background: none;
                border: none;
                border-right: 1px solid;
                border-bottom: 1px solid;
                box-shadow: 5px 5px 6px 0px #5c5c5c4d;
                transition: width 0.5s, background 1s;
            }

                .form-button:hover
                {
                    width: 90%;
                    background: #b5a5e083;
                }

        .buttonToTop{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100vw;
            margin: auto;
            
        }

        .buttonToTop .toTop{
            text-decoration: none;
            text-align: center;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 18px;
            padding-top: 10px;
            padding-bottom: 8px;
            border: 1px solid #bebebe;
            
            background: #fff;
            color: #a794d4;
            width: 100vw;
        }
    
    .foot
    {
        display: flex;
        background: #fff;
        justify-content: center;
        align-items: flex-start;
        box-shadow: 10px 8px 10px 10px #333;
        z-index: 999;
        height: 60px;
        padding-top: 10px;
    }

        .logoContainerFooter
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .logoFooter
            {
                height: 20px;
                margin: auto;
            }

        .footerText
        {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 10px;
            text-align: end;
            margin: 5px;
            padding-bottom: 3px;
        }

        .foot .toTop{
            display: none;
}


/* 
    SPACE
*/























@media screen and (min-width: 1000px)
{

    body
    {
        background: none;
        display: flex;
        flex-direction: column;
    }

    .project
    {
        width: auto;
        margin-right: 60px;
        margin-left: 60px;
        box-shadow: 10px 8px 10px 2px #333;
    }

    .mains
    {
        z-index: 20;
        margin: auto;
        margin-top: 90vh;
    }

    .head
    {
        background: none;
        position: fixed;
    }

        .headContainer
        {
            display: flex;
            flex-flow: column nowrap;
            position: relative;
            background: rgb(245,186,237);
            background: -moz-linear-gradient(90deg, rgba(245,186,237,1) 0%, rgba(209,155,218,1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(245,186,237,1) 0%, rgba(209,155,218,1) 100%);
            background: linear-gradient(90deg, rgba(245,186,237,1) 0%, rgba(209,155,218,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5baed",endColorstr="#d19bda",GradientType=1);
            border-radius: 10px;
            height: 98vh;
            width: 95vw;
            z-index: -10;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
}

        .logoContainer
        {
           width: auto;
           margin-right: 900px;
        }
            .logo
            {
                margin-top: 0px;
                margin-bottom: 0px;
            }
      
        .links
        {
            margin-top: 20px;
        }

            .link
            {
                margin-inline: 25px;
            }
                
            #link-icon
            {
                height: 40px;
                width: auto;
            }

        .sign
        {
            margin-top: -30px;
            font-size: 24px;
            margin-left: 65%;
        }

           
        .intro
        {
            text-align: center;
            margin-top: -55px;
            margin-bottom: 40px;
            width: 50%;
            font-size: 32px;
        }

        .head .headContainer .contactButton{
            cursor: pointer;
            border: 2px solid #e9e3ff;
            border-radius: 30px;
            padding: 10px 30px;
            font-size: 34px;
            text-decoration: none;
            font-style: italic;
            color: #e9e3ff;
            transition: all 0.4s;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
            -o-transition: all 0.4s;
}

        .head .headContainer .contactButton:hover{
            box-shadow: 8px 8px 25px 0px #b39ee493;
            border-color: #b39ee4b2;
        }

    .about
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin-bottom: 20px;
        box-shadow: 10px 8px 10px 2px #333;
        font-style: italic;
    }

        .about-title
        {
            font-size: 28px;
            
        }

        .about-text
        {
            font-size: 18px;
            margin: 10px 50px;
            width: 60vw;
        }

        .degree-title
        {
            font-size: 28px;
        }

        .skillsPrograms
        {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

    .projects
    {
        margin-right: 60px;
        margin-left: 60px;

    }

        .title
        {
            color: #000;
            font-size: 42px;
        }

        .text
        {
            width: 40%;
            font-size: 18px;
        }

            .text:hover
            {
                color: #000;
            }

        .img{
            height: 15rem;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
        }

            .img:hover{
                height: 18rem;
            }

    #contact-form
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background: #fff;
        margin: 15px 60px;
        width: auto;
        height: 500px;
        box-shadow: 10px 8px 10px 2px #333;
    }

        .polaroid
        {
            margin: auto;
        }

            .profile
            {
                padding: 170px 130px;
                transition: all 2s;
                -webkit-transition: all 2s;
                -moz-transition: all 2s;
                -ms-transition: all 2s;
                -o-transition: all 2s;
            }

                .profile:hover
                {
                    background-size: 130%;
                    background-position: left;
                }
            
            .polaroid-text
            {
                font-size: 20px;
            }

    .lineV
    {
        margin-left: 175px;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 1px;
        border: none;
        background: #000;
    }

    .lineH
    {
        display: none;
    }

        .div-form
        {
            display: flex;
            flex-direction: column;
            margin-right: auto;
        }

            .form
            {
                display: flex;
                flex-wrap: wrap;
                width: 550px;
                height: 400px;
                
            }

                .form-input
                {
                    color: #000;
                    background: transparent;
                    width: 80%;
                    margin-bottom: 30px;
                    padding: 10px 0;
                    font-size: 20px;
                    border: none;
                    border-bottom: 1px solid #5c5c5c9d;
                    transition: 1s;
                    -webkit-transition: 1s;
                    -moz-transition: 1s;
                    -ms-transition: 1s;
                    -o-transition: 1s;
}

                    .form-input:focus
                    {
                        width: 100%;
                    }

                .form-message
                {
                    color: #000;
                    width: 80%;
                    font-size: 20px;
                    padding-top: 5px;
                    border: none;
                    border-bottom: 1px solid #5c5c5c9d;
                    transition: width 1s;
                    -webkit-transition: width 1s;
                    -moz-transition: width 1s;
                    -ms-transition: width 1s;
                    -o-transition: width 1s;
}

                    .form-message:focus
                    {
                        width: 100%;
                    }

                .form-button
                {
                    font-family: 'Abel';
                    font-size: 22px;
                    color: #454545;
                    text-align: center;
                    text-decoration: underline  ;
                    width: 80%;
                    height: 60px;
                    margin: 15px;
                    border-radius: 15px;
                    background: none;
                    border: none;
                    border-right: 1px solid;
                    border-bottom: 1px solid;
                    box-shadow: 5px 5px 6px 0px #5c5c5c4d;
                    cursor: pointer;
                    transition: all width .5s, background 1s;
                    -webkit-transition: all width .5s, background 1s;
                    -moz-transition: all width .5s, background 1s;
                    -ms-transition: all width .5s, background 1s;
                    -o-transition: all width .5s, background 1s;
}

                    .form-button:hover
                    {
                        width: 90%;
                        background: #b5a5e083;
                    }

                    .buttonToTop{
                        display: none;
                    }
    .foot
    {
        display: flex;
        background: #fff;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: auto;
        height: 60px;
        border-radius: 10px 10px 0 0;
        padding-top: 10px;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        -ms-border-radius: 10px 10px 0 0;
        -o-border-radius: 10px 10px 0 0;
}

        .footerText
        {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 20px;
            width: auto;
            height: auto;
            text-align: center;
        }

        .logoContainerFooter
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .logoFooter
            {
                height: 50px;
                margin: auto;
            }
            

        .arrow{
            display: none ;
            top: 85vh;
            left: 90vw;
            position: fixed;
            z-index: 1000;
            background-color: rgb(195, 166, 204);
            background-blend-mode: lighten;
            padding: 10px;
            border: 1px solid #b3b3b3;
            box-shadow: 10px 10px 10px 5px rgba(141, 141, 141, 1);
            transition: all 0.5s;
            border-radius: 15px;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
}

        .arrow:hover{
            background: rgb(96, 55, 121);
            transform: scale(1.2);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
}

        .arrow img{
            height: 30px;
            width: 30px;
        }
}