body{
    margin: 0;
    font-family: 'Dancing Script';
    background: #5c5c5c;
}

.container
{
    display: flex;
    flex-direction: column;
    background: grey;
    height: 100%;
    margin: 0;
}

.head
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 740px;
    width: auto;
    justify-content: space-around;
    align-items: center;
    background-image: url(back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    .logo
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px ;
        width: 100%;
    }

        img
        {
            height: 60px;
            width: auto;
        }

    .parrafo
    {
        width: 220px;
        font-size: 22px;
        color: aliceblue;
    }

    .contact
    {
        background: none;
        color: #fff;
        padding: 12px 90px;
        border-radius: 50px;
        border: 1px solid;
        cursor: pointer;
        transition: 0.8s;
    }

     .contact:hover
     {
         border: 1.5px ;
     }

    .links
    {
        display: flex;
        flex-direction: row;
    }

        .link
        {
            padding: 0px 25px;
            color: rgb(255, 255, 255);
        }

    .sign
    {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: 190px;
    }

.main
{
    background: #5c5c5c;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

    .projects
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 100%;
        background: #333;
        transition: 0.9s;
        color: #fff;
        border-radius: 15px 15px 0 0;
        box-shadow: 6px 6px 3px #333;
    }

        .title
        {
            font-family: 'Crimson Text';
            margin-top: 20px;
        }

        .text
        {
            font-family: 'Abel';
            margin-left: 25px;
            margin-right: 25px;
        }

        .img
        {
            margin-bottom: 20px;
            height: 150px;
            width: 300px;
        }

            .img:hover
            {
                border: 2px ridge;
                height: 160px;
            }