body{
    margin: 0;
    font-family: 'Dancing Script';
}

.container
{
    display: flex;
    flex-direction: column;
    background: grey;
    height: 100%;
    
}

.head
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 730px;
    width: auto;
    justify-content: space-around;
    align-items: center;
    background-image: url(back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    .logo
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px ;
        width: 100%;
    }

        img
        {
            height: 60px;
            width: auto;
        }

    .parrafo
    {
        width: 220px;
        font-size: 18px;
        color: aliceblue;
    }

    .links
    {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        /* background: #dfdfdf; */
    }

        .link
        {
            margin: 15px;
            padding: 25px;
            /* background: #5c5c5c; */
            color: rgb(255, 255, 255);
        }


.main
{
    background: #5c5c5c;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

    .projects
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1px;
        width: 97%;
        background: #dfdfdf;
        transition: 0.9s;
    }

        .projects:hover
        {
            background: #d8b4f0;
        }

        .title
        {
            margin: 5px;
            font-size: 28px;
        }

        .img
        {
            margin: 5px;
            height: 100px;
            width: auto;
        }